
main{
    height:90vh;
    padding-top:20vh;
    display: grid;
    grid-template-areas:
    "img tex tex tex"
    "img tex tex tex"
    "link link link link";
    
    grid-template-colums:100px auto;
}
.contenedorIMG{
    grid-area:img;
    max-width: 330px;
    overflow: hidden;
}   
.contenedorIMG img{
    object-fit: cover;
}
.contenedorLetras{
    grid-area:tex; 
}

main a{
    grid-area:link;
    margin: auto;
    text-decoration: none;
    color: var(--second-color);
    padding: 13px;
}
main a:hover{
  color: rgb(0, 0, 0);
  background-color: #ffc671;
}